.logo {
  font-family: "Roboto Flex", sans-serif;
}

.robotoFlex {
  font-family: "Roboto Flex", sans-serif;
}

.menu {
  font-family: "Roboto Flex", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F3F5FD;
}